# Database Configuration
DATABASE_URL=mysql+pymysql://root:password@localhost:3306/adhrit_db

# CORS Origins
CORS_ORIGINS=http://localhost:3000,http://localhost:8000,https://adhrittechnologies.in

# Email Configuration (optional)
SMTP_SERVER= smtpout.secureserver.net
SMTP_PORT=465
SMTP_USER=sales@adhrittechnologies
SMTP_PASSWORD=Prv@200407
